*{margin: 0; padding: 0;}
.slider{ padding-top: 3rem;
height: 280px;
margin: auto;
position: relative;
width: 100%;
display: grid;
place-items: center;
overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 32);    /* Slide track width = total number of slides (9Х2=18) Х individual slide width (250px)    */
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
animation-play-state: paused;
}
@keyframes scroll {
0% {
    transform: translateX(0);
}
100%{
    transform: translateX(calc(-250px * 16));    /* 18 images / 2 = 9 */
}
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
width: 100%;
transition: transform 1s;
}
img:hover{
    transform: translateZ(60px);
}
.slider::before,
.slider::after{
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.autoprknp{ 
left: 0;
background: transparent;
position: absolute;
padding: 10px;
cursor: pointer;
border: 1px solid rgb(224, 57, 57);
border-radius: 1rem;
}
.autoprknp:hover{
color: rgb(7, 84, 22);
}
*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
