#butn01, #butn02, #butn03, #butn04 {
position: relative; 
}
#butn01:hover::after, #butn02:hover::after, #butn03:hover::after, #butn04:hover::after { z-index: 3;
content: "Каньо-Кристалес — река в Колумбии, правый приток р. Лосада — притока Гуавьяре (исп. Rio Guaviare), реки в Колумбии и Венесуэле, являющейся, в свою очередь, левым «рукавом» знаменитой Ориноко, которая впадает в Атлантический океан. Устье реки находится в центральной части Колумбии, на территории департамента Мета в горной цепи Макарена. В переводе с испанского название реки означает «кристальная река». Река известна тем, что изменяет свой цвет за счёт разных видов водорослей, из-за чего местные жители называют её «рекой пяти цветов». На протяжении всего года русло и речные скалы покрыты разноцветными мхами и водорослями. Вода в реке настолько чистая и прозрачная, что близка по свойствам к дистиллированной, а дно отлично просматривается даже на значительной глубине. В насыщенной кислородом воде отсутствуют примеси, соли и минералы, из-за чего на дне не образуется иловых отложений; в связи с этим (а также из-за необычной структуры русла) в Каньо-Кристалес практически не водится рыба — ей просто нечем питаться.";
position: absolute;
transform: translateX(-15%);
font-size: large;  /* padding: 8px; */
width: 950px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn05, #butn06, #butn07 {
position: relative; 
}
#butn05:hover::after, #butn06:hover::after, #butn07:hover::after{ z-index: 3;
content: "Нуса-Пенида — небольшой остров, расположенный примерно в 12 км к юго-востоку от индонезийского острова Бали. В административном отношении входит в состав округа Клунгкунг провинции Бали. Отделён от острова Бали проливом Бадунг. Составляет 19,4 км в длину и 13,7 км в ширину. Площадь острова — 202,84 квадратных километра. Вблизи Нуса-Пенида имеется 2 небольших островка: Нуса-Лембонган и Нуса-Ченинган. Рельеф острова представляет собой три плато: первое — на северном побережье, расположенное на уровне моря; второе — в центре, имеющее средние высоты 400—450 м и третье — на юге, с высотой около 200 м. С юго-востока на северо-запад острова проходит холмистая гряда с максимальной высотой — 524 м над уровнем моря. Южное побережье представлено клифами, поднимающимися почти вертикально на 100—200 м. На острове широко развит карст, который проявляется здесь в виде небольших холмов с конусообразными вершинами. Имеются пещеры. Постоянных рек и ручьёв на острове нет; русла наполняются водой только в период муссонов. Склоны холмов покрыты лесами и кустарником. Вместе с соседними малыми островами Нуса-Пенида составляет птичий заповедник. Климат в среднем более жаркий и засушливый чем на соседнем Бали. На фото - самое красивое место Нуса-Пенида - скала Динозавр.";
position: absolute;
transform: translateX(-55%);
font-size: medium;  /* padding: 8px; */
width: 1000px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn08 {
position: relative; 
}
#butn08:hover::after { z-index: 3;
content: "Озеро Главашево — небольшой водоем карстового происхождения в 7 километрах от города Врлик. Находится у деревушки Цетина, в округе Шибеник-Книн на юге Хорватии. Озеро отличается необычным видом из-за чего его часто называют «Глазом или Оком Земли». Как и другие карстовые водоемы Главашево наполнено очень прозрачной водой, сквозь которую хорошо просматривается глубокая пещера. На дне нет песка, лишь мягкие известковые отложения, придающие воде лазурный оттенок. Главашево имеет большое значение для страны, т. к. является первым источником крупной реки Цетина, впадающей в Адриатическое море. Река издревле питает водой земли Далмации, вдоль русла археологи до сих пор находят свидетельства древних поселений. Мощный поток Цетины образует живописные водопады и крутые пороги, привлекающие любителей рафтинга и туристов. Во многих источниках указано, что глубина озера Главашево составляет около 150 метров, но это не совсем так. Определить точную глубину водолазы-спелеологи Хорватского института природы так и не смогли, но им удалось исследовать дно до отметки 155 метров. Если смотреть на озеро с берега, то создается иллюзия будто дно недалеко, однако не стоит поддаваться обману зрения, за кажущейся пустотой скрывается глубокая подземная пещера. Чистая вода насыщенного сине-зеленого оттенка так и манит окунуться. Однако, искупаться в озере Главашево не получится, разве что вы практикуете зимнее купание и относитесь к движению «моржей». Дело в том, что вода в истоке реки Цетины очень холодная. Даже в разгар лета, когда воздух раскаляется до +35 °C, температура воды не поднимается выше +7 °C. Кроме того, внушительная глубина, которую сложно определить на глаз, и скользкое дно могут стать причиной несчастного случая.";
position: absolute;
transform: translateX(-80%);
font-size: medium;  /* padding: 8px; */
width: 1200px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}
    
#butn09 {
position: relative; 
}
#butn09:hover::after { z-index: 3;
content: "На самом краю водопада Виктория есть природный бассейн размером около 20 метров. От ужасающей пропасти бассейн отделяет лишь тонкая перемычка, размером около полутора метров. Место зовётся Дьявольским бассейном (Devil’s pool). Дьявольский бассейн находится возле острова Ливингстон, на замбийский стороне. Попадая в воды бассейна, можно ощутить силу стихии совсем рядом. Проблема в том, что ухватиться совсем не за что: камни покрыты водорослями и сильно скользят. Лишь тонкая перегородка отделяет вас от пропасти. Далеко не каждый турист отважится сразу искупаться в нем, ведь находится Дьявольский бассейн сразу у края самого водопада. Лежишь в бассейне, а на расстоянии вытянутой руки вода падает вниз с высоты 128 метров. Когда в реке Замбези безопасный и достаточный уровень воды, обычно это в период с сентября по декабрь, то люди могут плавать в бассейне настолько близко к берегам, насколько это возможно. Природные каменные стены под водой и у самого края водопада будут останавливать вас и не дадут упасть вниз, несмотря на поток воды.";
position: absolute;
transform: translateX(-80%);
font-size: large;  /* padding: 8px; */
width: 1000px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn10 {
position: relative; 
}
#butn10:hover::after { z-index: 3;
content: "Мадонна делла Корона — святилище и малая базилика в Италии. Главной достопримечательностью храма является Святая лестница (Scala Santa). Если верить древней легенде, то она является точной копией той, по которой ходил Иисус во время суда, вынесшего ему смертный приговор. В XV веке здесь поселились отшельники. Первая церковь была открыта в 1530 году, после посещения епископа Джана Маттео Джиберти. В 1625 году рыцари Мальтийского ордена перестроили эту церковь. Строительство было завершено в 1680 году. В начале церковь была известна под именем «Санта-Мария-ди-Монтебальдо». В 1898 году было решено расширить строение и вывести его примерно на два метра вперёд, в сторону площади перед церковью. В 1899 году фасад был переделан в готическом стиле и украшен мрамором из Сант-Амброджио. В 1928 году был немного перестроен главный алтарь в нише Мадонны. В юбилейный 1975 год начались работы по обновлению церкви, углубление в скале было значительно расширено, и его площадь увеличилась с 220 м² до 600 м², длина церкви при этом стала 30 м, ширина — 20 м, а высота шпиля 18 м. Шесть Veronese колоколов, в оттенках Si Major, были объединены в 1884 году.";
position: absolute;
transform: translateX(-85%);
font-size: medium;  /* padding: 8px; */
width: 900px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn11, #butn12, #butn13, #butn14 {
position: relative; 
}
#butn11:hover::after, #butn12:hover::after, #butn13:hover::after, #butn14:hover::after{ z-index: 3;
content: "Блейско — озеро в словенском регионе Крайна, у которого расположен город-курорт Блед, а также горное плато Поклюка. Над озером на крутой скале расположен Бледский замок. Высокие горы не пропускают холодные потоки воздуха и создают в долине особый микроклимат. В июле и августе озеро прогревается до 25 °C. Озеро имеет смешанное ледниковое и тектоническое происхождение. Оно находится на высоте 475 метров над уровнем моря и окружено со всех сторон величественными отрогами Юлийских Альп и лесами. Его длина составляет 2120 м, ширина - 1380 м, максимальная глубина - 29,5 м, и на нем есть небольшой остров. Озеро Блед было важным культовым центром во время бронзового века. Золотые аппликации, датируемые 13-12 веками до нашей эры, были найдены в месторождении на берегу озера. Средневековый замок Блед возвышается над озером на северном берегу и располагает музеем. Долина Зака лежит на западной оконечности озера. Озеро окружает остров Блед (Блейский оток). На острове есть несколько зданий, главным из которых является паломническая церковь, построенная в своем нынешнем виде ближе к концу 17 века. Она украшена остатками готических фресок примерно 1470 года в алтаре и богатой мебелью.";
position: absolute;
transform: translateX(-15%);
font-size: medium;  /* padding: 8px; */
width: 1000px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn15 {
position: relative; 
}
#butn15:hover::after { z-index: 3;
content: "Бессточная впадина в Ботсване, Южная Африка. Расположена на высоте около 900 метров над уровнем моря. Большую часть впадины занимают солёные озёра Соа и Нтветве, превращающиеся в сухое время года в солончаки. Макгадикгади — одно из самых больших соляных озёр на Земле, занимает первое место в мире по запасам поташа (калиевая соль угольной кислоты). Во впадине находится дельта реки Окаванго. Примерно 3 миллиона лет назад сильные восточные ветры образовали длинные дюны, которые тянулись с востока на запад через середину пустыни Калахари. В более влажные времена эти дюны направляли великие реки этого района, Окаванго, Чобе и Верхнюю Замбези, на юго-восток, чтобы соединиться с рекой Лимпопо и впасть в Индийский океан. Примерно 2 миллиона лет назад разлом, известный как ось Овамболенд-Калахари-Зимбабве, переместился и перекрыл путь в Лимпопо. Заблокированный сток позволил образовать озеро Макгадикгади. Оно начало разливаться около 20 000 лет назад, выбрав своим новым выходом самую низкую точку водораздела на северо-востоке. Это привело к соединению средней и нижней рек Замбези, образовав водопад Виктория. Озеро Макгадикгади частично осушилось. Последовал более сухой климатический период, который увеличил испарение и уменьшил сток рек, питавших озеро. Примерно 10 000 лет назад высыхание озера Макгадикгади находилось на продвинутой стадии. Осадочные породы и мусор из реки Окаванго и переносимый ветром песок постепенно заполняли озеро. В октябре 2019 года команда под руководством Ванессы Хейс предположила, что земля вокруг озера Макгадикгади была областью, где впервые появились современные люди (Homo sapiens).";
position: absolute;
transform: translateX(-45%);
font-size: medium;  /* padding: 8px; */
width: 1350px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn16, #butn17{
position: relative; 
}
#butn16:hover::after, #butn17:hover::after { z-index: 3;
content: "Каньон на юго-востоке Исландии. Его глубина достигает 100 м, а длина - около 2 км. Фьядрарглйуфур — один из красивейших каньонов мира. Название образовано от имени пролегающей здесь реки, «Фьядра», что переводится с исландского как «перо». Каньон расположен на юго-востоке острова и укрыт пышной растительностью. Каньон Фьядрарглйуфур находится в 300 километрах от Рейкьявика, рядом с деревней Киркьюбайярклёйстюр, знаменитой во всем мире находящимся здесь чудом природы - шестигранными базальтовыми образованиями. Фьядрарглйуфур в отличие от других знаменитых каньонов мира больше поражает не огромными масштабами, а своей необыкновенной формой и сочетаниями цветов. Плавные очертания отвесных скал, изгибающимися стенами вставших над рекой, покрыты зеленым мхом и выглядят невероятно умиротворяюще. Картину дополняет мелодичное журчание спокойной речки Фьядры.";
position: absolute;
transform: translateX(-65%);
font-size: medium;  /* padding: 8px; */
width: 950px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}

#butn18, #butn19, #butn20 {
position: relative; 
}
#butn18:hover::after, #butn19:hover::after, #butn20:hover::after { z-index: 3;
content: "Остров Чеджу — ранее известный в Европе под именем Квельпарт — остров вулканического происхождения. Он сформирован несколькими вулканическими извержениями, случившимися за последние 1,2 миллиона лет. Состоит в основном из базальта (застывшей лавы). Здесь находится вулкан Халласан, появившийся 780 тысяч лет тому назад. Это самая высокая гора в Южной Корее (1947 м). К вершине Халласана восходит жерло вулкана. Ещё несколько паразитических кратеров расположены на его склонах и побережье. К настоящему времени он считается потухшим, так как последнее извержение произошло 25 тысяч лет назад. Во время оледенений плейстоцена понизился уровень Мирового океана, обнажив сухопутные коридоры, соединившие Чеджудо с Корейским полуостровом и Японией. По ним осуществлялся обмен животными и растениями. С 2007 года уникальная природа острова находится под охраной ЮНЕСКО как объект Всемирного наследия «Вулканический остров Чеджудо и его лавовые трубки».";
position: absolute;
transform: translateX(-85%);
font-size: large;  /* padding: 8px; */
width: 1000px;
background-color: rgb(168, 205, 229); 
color: black; 
text-align: center;
border-radius: 20px; 
display: none; 
display: block;
}






